<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hookahapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.mainpage.MainPageActivity">
        </activity>
        <activity android:name=".SplashActivity" android:theme="@style/AppTheme.Launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.onboarding.OnboardingActivity1">
        </activity>
        <activity android:name=".presentation.onboarding.OnboardingActivity2"/>
        <activity android:name=".presentation.onboarding.OnboardingActivity3"/>
        <activity android:name=".presentation.registration.RegOrAuthActivity"/>
        <activity android:name=".presentation.registration.RegistrationActivity1"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.registration.RegistrationActivity2"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.registration.AuthorisationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.parking.ParkingActivity"/>
        <activity android:name=".presentation.deal.DealActivity"/>
    </application>

</manifest>